{% extends "base.html" %}

{% block content %}  
        {% include "breadcrumbs.html" %}

    {% if not subcategory %}
    <div class="container">
        <div class="row">
         {% for product in object_list %}
             {% ifchanged product.category %}
                <div class="col-12 text-left" >
                     <a href="{{ product.category.get_absolute_url }}"class="lead">{{ product.category.title }}</a> 
                     <hr/>
                </div>
             {% endifchanged %}
         
            <div class="col-3 mb-5" >
                {% include "products/snippets/card.html" with instance=product%}
            </div>
        {% endfor %}
        </div>
    </div>

    {%else %}

    <div class="container">
        <div class="row">
             <div class="col-12 text-left" >
                 <a href="{{ object_list.first.category.get_absolute_url }}"class="lead">{{ object_list.first.category.title }}</a> 
                 <hr/>
             </div>
             {% for product in object_list %}
            <div class="col" >
                {% include "products/snippets/card.html" with instance=product %}
            </div>
            {% endfor %}                   
        </div>
    </div>

    {% endif %}
{% endblock  %}
