{% extends "base.html" %} {% block content %}
<div class="row">
    <div class="col-12 col-md-6">

        <h1>{{ object.title }} <br/></h1>
        {{ object.timestamp | timesince}} ago {{ object.description |linebreaks }} <br/> {% if object.image %}
        <img src='{{ object.image.url }}' class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt=""> {% endif%}
        <p class="card-text ">{{ object.category.title }}
        {% for category in object.category_set.all %}
        <p class="card-text ">{{ category.title }}ghghghghghghg</p>
      {% endfor %}
    </div>
    <div class="col-12 col-md-6">
        {% include 'products/snippets/update-cart.html' with product=object cart=cart %}
    </div>
</div>
{% endblock %}