{% extends "base.html"%}

{% block content %}
<div class="text-left align-left">
{% if not billing_profile %}
		<div class="container ">
		    <div class='row '>
		        <div class='col-12  text-center'>
		            <p class="lead">Login</p>
		            {% include 'accounts/snippets/form.html' with form=login_form next_url=request.build_absolute_uri %}
		        </div>
		    </div>
			    <div class="row  mt-5">
			        <div class='col-12 text-center'>
				        <p class="lead mb-2">Continue as Guest</p>
			
			            {% url 'guest_register_view' as guest_register_url%}
			            {% include 'accounts/snippets/form.html' with form=guest_form next_url=request.build_absolute_uri action_url=guest_register_url %}
			
			        </div>
		        </div>
		</div>
{% else %}

    {% if not object.shipping_address %}
        <div class="row">
            <div class="col-12">
                <p class='lead'>Shipping Address</p>
                <hr/>

            </div>
            <div class="col ">
                {% url "checkout_address_create" as checkout_address_create %}
                {% include 'addresses/snippets/form.html' with form=address_form next_url=request.build_absolute_uri action_url=checkout_address_create address_type='shipping' %}
            </div>
	        {% if address_qs %}
	            <div class="col">
	                {% url "checkout_address_reuse" as checkout_address_reuse %}
	    
	                {% include 'addresses/previous_addresses.html' with address_qs=address_qs next_url=request.build_absolute_uri address_type='shipping' action_url=checkout_address_reuse %}
	            </div>
	        {% endif %}

        </div> 

    {% elif not object.billing_address %}
        <div class="row">
            <div class="col-12">
                <p class='lead'>Billing Address</p>
                <hr/>
            </div>
            <div class="col">
                {% url "checkout_address_create" as checkout_address_create %}
                {% include 'addresses/snippets/form.html' with form=address_form next_url=request.build_absolute_uri action_url=checkout_address_create address_type='billing' %}
            </div>
	        {% if address_qs %}
	        <div class="col">
		        {% url "checkout_address_reuse" as checkout_address_reuse %}
		
		        {% include 'addresses/previous_addresses.html' with address_qs=address_qs next_url=request.build_absolute_uri address_type='billing' action_url=checkout_address_reuse %}
	        </div>
	        {% endif %}
        </div>


        {% else %}
        {% if not has_card %}
		<div class="payment-div" data-next-url='{{ request.build_absolute_uri }}' data-btn-title="Add Payment Method"></div>
        {% else %}
        <h1 class="mb-2">Finalize Checkout</h1>

		<hr width="40%" class="ml-0"/>

		<p class="mt-3"><b>Cart Items:</b></p>
		<p> {% for product in object.cart.products.all %}{{ product }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>
		
		<p><b>Shipping Address:</b></p>
		<p> {{ object.shipping_address.get_address }}</p>
 		<p><b>Billing Address:</b></p>
		<p class="mb-2"> {{ object.billing_address.get_address }}</p>
		
		<hr width="20%" class="ml-0"/>
		
		<p class="mt-3"><b>Cart Total:</b> ${{ object.cart.total }}</p>
		<p><b>Payment Method:</b>{{ billing_profile.default_card.brand }} {{ billing_profile.default_card.last4 }}(<a href="{{ billing_profile.get_payment_method_url }}?next={{ request.build_absolute_uri }}">Change</a>)</p>
		<p><b>Shipping Total:</b> ${{ object.shipping_total }}</p>
		<p><b>Order Total:</b> ${{ object.total }}</p>
        
        <form method="POST" class="form mt-5" action="">{% csrf_token %}
            <button class="btn btn-success" type="submit">Checkout</button>
        </form>
        
        {% endif %}
    {% endif %}
{% endif %}
	</div>
{% endblock %}