
<nav aria-label="breadcrumb" >
    <ol class="breadcrumb" style="background-color: #fff;" >
<style type="text/css">
    a {
        color: #495057;
    }

    a:hover {
        color: #495057;
    }
</style>
        {% if not object %}

            {% if category %}
                <li class="breadcrumb-item {% if not subcategory %} active {% endif %}"><a href="{{ object_list.first.category.parent.get_absolute_url }}">{{ object_list.first.category.parent.title }}</a></li>
            {% endif %}  
            
            {% if subcategory %}
                <li class="breadcrumb-item {% if not product %} active {% endif %}"><a href="{{ object_list.first.category.get_absolute_url }}">{{ object_list.first.category.title }}</a></li>
            {% endif %}  

        {% else %}

                <li class="breadcrumb-item {% if not subcategory %} active {% endif %}"><a href="{{ object.category.parent.get_absolute_url }}">{{ object.category.parent.title }}</a></li>
                
                {% if subcategory %}
                <li class="breadcrumb-item {% if not product %} active {% endif %}"><a href="{{ object.category.get_absolute_url }}">{{ object.category.title }}</a></li>
                {% endif %}  
                
                <li class="breadcrumb-item active"><a href="{{ object.get_absolute_url }}">{{ object.title }}</a>
                </li>

        {% endif %}

  </ol>
</nav>