<form class="form-product-ajax " method="POST" action='{% url "cart:update" %}' data-endpoint='{% url "cart:update" %}'class="form">{% csrf_token %}
	<input id="product_id" type="hidden" name='product_id' value='{{ product.id }}' />
    <span class="submit-span">
        {% if product.in_cart %}

            {% include 'carts/snippets/quantity-adder.html' %}
        {% else %}
            <button class="btn btn-success" type="submit" >Add To Cart</button>
            <input id="quantity" type="hidden" name='quantity' value='1' />

        {% endif %}
    </span>
   
</form>
